ul {
    list-style: none;
}

.menu {
    background: $bg;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.menu ul li a {
    display: block;
    padding: 10px;
    margin-right: 10px;
    color: $gray;
    text-decoration: none;
    font-family: $fontOne;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: .1rem;
}