//Fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

$fontOne: 'IBM Plex Mono', monospace;
$title: 'Playfair Display SC', serif;
$paragraph: Helvetica, Arial;;

// Colors
$bg-light: #faf6ed;
$bg: #FB5;

$red: #E54;
$gray: #222;

